<<<<<<< HEAD
body {
  background-color: indianred;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
}

=======
body {
  background-color: indianred;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
}
>>>>>>> 2ee26f780f8394b7d5590c9e418b1bf3ace0a1d3
